.forecast {
    width: 100%;

    .forecast__list {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        height: 100%;

        .list__item {
            flex: 1 1 auto;
            box-shadow: 1px 0px 2px rgba(0,0,0,.1);
            padding: 20px 30px;
            text-align: center;
            display: flex;
            flex-direction: column;

            .time {
                flex: 1 1 auto;
            }

            .icon {
                flex: 2 1 auto;
            }

            .degrees {
                font-size: 3em;
                flex: 2 1 auto;
            }
        }
    }
}