.weather {
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: relative;
    color: #212121;

    .place__title {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    .country__title {
        display: block;
        margin: 0 auto;
        opacity: .7;
    }

    @media screen and (max-width: 768px) {
        padding: 70px 25px;
    }

    .weather__info {
        position: absolute;
        left: 70px;
        bottom: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .degrees {
            font-size: 5em;
            flex: 1 1 auto;
        }

        .details {
            flex: 1 1 auto;
            margin-left: 50px;
        }

        @media screen and (max-width: 768px) {
            position: relative;
            left: 0;
            bottom: 0;
            display: block;

            .details {
                margin-left: 0;
            }
        }
        
    }
}

.weather.warm {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.weather.cold {
    background-image: linear-gradient(to right, #a0b6d8, #9bc3e3, #97d0ea, #96ddee, #9ae9ee);
}

.weather.average {
    background-image: linear-gradient(to right, #fbe0bb, #e6e5b8, #cceac1, #b0edd2, #9aeee9);
}